.continer {
  display: flex;
  max-width: 68.8rem; // 688px;
  height: 31rem; // 310px;
  margin: 0 auto;
  margin-top: 5rem;
  background: var(--color-grey-dark-1) 0% 0% no-repeat padding-box;
}

.logo-box {
  width: 8.3rem; // 83px;
  padding: 1rem;
}

.logo-icon {
  width: 7rem; // 70px;
  height: 8.7rem; //87px;
}

.continer-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-left: 3rem;
}

.list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.list:not(:last-child) {
  border-bottom: 1px solid var(--color-secondary);
}

.first-span {
  width: 21.8rem; // 218px;
  text-align: right;
  font: normal normal normal 14px/57px Segoe UI;
  letter-spacing: 1.4px;
  color: var(--color-white);
  text-transform: capitalize;
}

.second-span {
  width: 27.7rem; // 277px;
  text-align: right;
  font: normal normal bold 18px/58px Segoe UI;
  letter-spacing: 1.8px;
  color: #ffffff;
  text-transform: capitalize;
}
