.popup {
  width: 68.4rem;
  height: 80%;

  background: var(--color-primary) 0% 0% no-repeat padding-box;
  border-radius: 5px;

  display: none;
  position: fixed;
  z-index: 1;
  left: 8.2rem;
  top: 10.8rem;
  overflow: auto;
  z-index: 9999;

  &__right {
    width: 66.6666667%;
    vertical-align: middle;
  }

  &__close {
    color: var(--color-grey);
    position: absolute;
    font-size: 3rem;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s;
    line-height: 1;
    padding: 3rem;
    cursor: pointer;

    &:hover {
      color: var(--color-aliceblue);
    }
  }

  &--outer {
    display: block;
    width: 100%;
    height: 100%;
    cursor: default;
  }
}

.popup-content {
  display: flex;
  margin: 1px auto -11px;
  padding: 0 -9px;
  max-width: 9.6rem;
  flex-direction: column;
  align-items: center;
}

.popup-header__details {
  width: 208px;
}

.popup-header__num {
  text-transform: uppercase;
  color: var(--color-grey-light-2);
  margin-top: -3.5rem;
  font: normal normal 2.2rem/5.8rem Segoe UI;
  color: var(--color-white);
}
.popup-logo-box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: 21rem;
  margin-top: 5rem;
}

.popup-logo-icon {
  width: 9.4rem; // 54px;
  height: 8.7rem; // 77px;
}
