:root {
  // COLOR VARIABLES
  --color-primary: #29333f;

  --color-secondary: #6c83a1;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;

  --color-white: #fff;
  --color-black: #000;

  --color-grey-dark-1: #3f4e60;

  --color-green: #30e649; // for flag icon

  --color-blue: #689cd8; // for message button

  --bp-largest: 75em; // 1200px
  --bp-large: 62.5em; // 1000px
  --bp-medium: 50em; // 800px;
  --bp-small: 37.5em; // 600px;
}
