<div class="message-conteinar">
  <div class="message-btn-conteinar">
    <button class="btn btn-left" (click)="showMessage()">
      <div class="triangle triangle-left"></div>
    </button>
    <button class="btn btn-right" (click)="fowerdMessage()">
      <div class="triangle triangle-right"></div>
    </button>
    <div class="message-header">
      <span class="message-date">{{messages[i].date}}</span>
      <div class="message-name">{{messages[i].role}}</div>
    </div>
    <div class="message">
      <div>{{messages[i].message}}</div>
    </div>
  </div>
</div>