<div class="qp">
  <div class="qp__list">
    <div class="logo-box">
      <svg class="logo-icon">
        <use xlink:href="../../assets/sprite.svg#icon-Asset-3"></use>
      </svg>
      <div class="qp__details">
        <h4 class="heading-4 heading-4--light">שיקום שוחות ביוב</h4>
        <p class="qp__num">20200804-150540</p>
      </div>
    </div>
    <div class="logo-box">
      <svg class="logo-icon">
        <use xlink:href="../../assets/sprite.svg#icon-Asset-4"></use>
      </svg>
      <div class="qp__details">
        <h4 class="heading-4 heading-4--light">שיקום שוחות ביוב</h4>
        <p class="qp__num">20200804-150540</p>
      </div>
    </div>
    <div class="logo-box">
      <svg class="logo-icon">
        <use xlink:href="../../assets/sprite.svg#icon-Asset-5"></use>
      </svg>
      <div class="qp__details">
        <h4 class="heading-4 heading-4--light">שיקום שוחות ביוב</h4>
        <p class="qp__num">20200804-150540</p>
      </div>
    </div>
    <div class="logo-box">
      <svg class="logo-icon">
        <use xlink:href="../../assets/sprite.svg#icon-Asset-6"></use>
      </svg>
      <div class="qp__details">
        <h4 class="heading-4 heading-4--light">שיקום שוחות ביוב</h4>
        <p class="qp__num">20200804-150540</p>
      </div>
    </div>
    <div class="logo-box">
      <svg class="logo-icon">
        <use xlink:href="../../assets/sprite.svg#icon-Asset-7"></use>
      </svg>
      <div class="qp__details">
        <h4 class="heading-4 heading-4--light">שיקום שוחות ביוב</h4>
        <p class="qp__num">20200804-150540</p>
      </div>
    </div>
  </div>
</div>