.container {
  background-color: var(--color-secondary);
  max-width: 71.8rem;
  height: 99rem;
  margin: 0 auto;
}

.tabs {
  position: relative;
  max-width: 68.8rem; // 688px;
  height: 97rem; // 970px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary);
  margin: 0 auto;
  margin-top: 12.1rem; // 121px;
  padding-top: 1.5rem;
}

.tab {
  font: normal normal 25px/58px Segoe UI;
  color: white;
}

.tab label {
  padding: 1rem;
  position: relative;
  width: 22.2rem; // 222px;
}

.tab [type="radio"] {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 6.5rem; // 55px;
  left: 0;
  background-color: #29333f;
  right: 0;
  bottom: 0;
  padding: 2rem;
  border-radius: 5px;
}

[type="radio"]:checked ~ label {
  background-color: #29333f;
  z-index: 2;
  border-radius: 5px;
}

[type="radio"]:checked ~ label ~ .content {
  z-index: 1;
}

.info1 {
  margin-top: 11rem;
}
.info2 {
  margin-top: 4rem;
}

.qp {
  background-color: var(--color-primary);
  padding: 3rem;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: fit-content;
  height: 45.5rem; // 455px;
  margin: 0 auto;

  @media only screen and (max-width: --bp-medium) {
    grid-column: 1 / -1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 26rem; // 260px;

    @media only screen and (max-width: --bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media only screen and (max-width: --bp-small) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }

  &__details {
    // width: 16.8rem; // 168px;
    height: 4.5rem; // 45px;
    width: 208px;
  }

  &__num {
    text-transform: uppercase;
    color: var(--color-grey-light-2); // $color-grey-light-2;
    margin-top: -3.5rem;
    font: normal normal 22px/58px Segoe UI;
    color: var(--color-white);
  }
}

.logo-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 0.8rem; // 78px;
  align-items: end;
  width: 300px;
  align-self: flex-end;
}

.logo-icon {
  width: 5.4rem; // 54px;
  height: 7.7rem; // 77px;
  fill: var(--color-green);
}

.heading-4 {
  font: normal normal 22px/58px Segoe UI;
  letter-spacing: 1.4px;

  &--light {
    color: var(--color-grey-light-1); // $color-grey-light-1;
  }
}
