<div class="container">
  <div class="tabs">
    <div class="tab">
      <input type="radio" id="tab-1" name="tab-group-1" checked>
      <label for="tab-1">QP</label>
      <div class="content">
        <app-list></app-list>
        <app-list2></app-list2>
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="tab-2" name="tab-group-1">
      <label for="tab-2">מידע</label>
      <div class="content">
        stuff
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="tab-3" name="tab-group-1">
      <label for="tab-3">סטטוס</label>
      <div class="content">
        stuff
      </div>
    </div>
  </div>
</div>