.popup-message-conteinar {
  width: 643px;
  height: 314px;
  background: var(--color-grey-dark-1) 0% 0% no-repeat padding-box;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 5px;
}

.border-red {
  border-right: 9px solid #ff0000;
}

.border-green {
  border-right: 9px solid #30e649;
  height: 475px;
  margin-bottom: 3rem;
}

.popup-message-header {
  height: 65px;
  color: var(--color-white);
  margin-top: 2.5rem;
  text-align: right;
  font: normal normal normal 18px/24px Segoe UI;
  padding-top: 2rem;
  margin-right: 2rem;
}

.popup-message {
  height: 175px;
  background-color: var(--color-black);
  color: var(--color-white);
  font: normal normal normal 18px/24px Segoe UI;
  text-align: right;
  padding: 1rem;
  align-self: flex-end;
  margin: 1.5rem;
  border-radius: 5px;
}

.pictuers {
  height: 344px;
}

.popup-message-content {
  margin-top: 3rem;
}

.pictures-container {
  width: 463px;
  height: 164px;
  margin: 0 auto;
  margin-top: 8rem;
}

.img,
.img3 {
  margin-left: 2rem;
}

.img3 {
  margin-right: 2rem;
}

.heading-4 {
  font: normal normal 22px/58px Segoe UI;
  letter-spacing: 1.4px;
  padding-left: 13rem;

  &--light {
    color: var(--color-grey-light-1);
  }
}
