<div class="popup" id="popup">
  <div class="popup-content">
    <div class="popup-header">
      <div class="popup-logo-box">
        <svg class="popup-logo-icon">
          <use xlink:href="../../assets/sprite.svg#icon-Asset-1"></use>
        </svg>
        <div class="popup-header__details">
          <h4 class="heading-4 heading-4--light">מתחם הספורטאים</h4>
          <p class="popup-header__num">1235</p>
        </div>
      </div>
    </div>
  </div>

  <div class="popup-message-conteinar border-red">
    <div class="popup-message-header">
      hgjhgjhgjhghjghjgjhgjhgjh
    </div>
    <div class="popup-message">
      <div class="popup-message-sub-header">
        lior
      </div>
      <div class="popup-message-content">gfgfgfgf</div>
    </div>
  </div>

  <div class="popup-message-conteinar border-green">
    <div class="popup-message-header">
      hgjhgjhgjhghjghjgjhgjhgjh
    </div>
    <div class="popup-message pictuers">
      <div class="popup-message-sub-header">
        lior
      </div>
      <div class="popup-message-content">gfgfgfgf</div>
      <div class="pictures-container">
        <img class="img" src="../../../assets/img/Image.png" alt="img">
        <img class="img" src="../../../assets/img/Image.png" alt="img">
        <img class="img3" src="../../../assets/img/Image.png" alt="img">
      </div>
    </div>
  </div>
</div>