<img src="../../../assets/img/Qpm.png" alt="img">

<div class="tabs-container">
  <div class="tabs">
    <div class="tab">
      <input type="radio" id="tab-1" name="tab-group-1" checked>
      <label for="tab-1">STATUS</label>
      <div class="content">

      </div>
    </div>
    <div class="tab">
      <input type="radio" id="tab-2" name="tab-group-1">
      <label for="tab-2">ISSUES</label>
      <div class="content">

      </div>
    </div>
    <div class="tab">
      <input type="radio" id="tab-3" name="tab-group-1">
      <label for="tab-3">QP</label>
      <div class="content">

      </div>
    </div>
    <div class="tab">
      <input type="radio" id="tab-4" name="tab-group-1">
      <label for="tab-4">GENERAL</label>
      <div class="content">

      </div>
    </div>
  </div>
</div>