<img src="../../../assets/img/Qpm.png" alt="img">

<div class="tabs-container">
  <div class="tabs">
    <div class="tab">
      <input type="radio" id="tab-1" name="tab-group-1" checked>
      <label for="tab-1">STATUS</label>
      <div class="content">

      </div>
    </div>
    <div class="tab">
      <input type="radio" id="tab-2" name="tab-group-1">
      <label for="tab-2">ISSUES</label>
      <div class="content">

      </div>
    </div>
    <div class="tab">
      <input type="radio" id="tab-3" name="tab-group-1">
      <label for="tab-3">QP</label>
      <div class="content">
        <form class="form">
          <input type="text" placeholder="Search">
        </form>
        <section>
          <article>
            <details open>
              <summary>
                Today
              </summary>
              <details>
                <summary>
                  <svg class="icon">
                    <use xlink:href="../../assets/sprite.svg#icon-Asset-18"></use>
                  </svg>
                  Steel Pipe Set in Trench <span>13:46 Jan 07, 2021</span>
                </summary>
                <app-qp-list></app-qp-list>
              </details>
              <details>
                <summary>
                  <svg class="icon">
                    <use xlink:href="../../assets/sprite.svg#icon-Asset-20"></use>
                  </svg>
                  Steel Pipe Set in Trench <span>13:46 Jan 07, 2021</span>
                </summary>
              </details>
            </details>
          </article>
        </section>
        <section>
          <article>
            <details>
              <summary>Last 7 days</summary>
            </details>
          </article>
        </section>
      </div>
    </div>
    <div class="tab">
      <input type="radio" id="tab-4" name="tab-group-1">
      <label for="tab-4">GENERAL</label>
      <div class="content">

      </div>
    </div>
  </div>
</div>