@import "../../styles/abstracts/mixins";

img {
  height: 100%;
  width: 100%;
}

.tabs-container {
  background-color: var(--color-secondary);
  height: 84rem;
  margin-left: 95rem;
  position: absolute;
  top: -2.2rem;
  left: 59.9rem;
  width: 100%;
  max-width: 36.8rem;
  margin-top: 11.5rem;

  @include respond(laptop) {
    left: 0;
    top: -9px;
    height: 50rem;
    margin-left: 103rem;
    max-width: 24.8rem;
  }
}

.tabs {
  position: relative;
  max-width: 68.8rem; // 688px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary);
  margin: 0 auto;
  margin-top: 2.1rem;
  padding-top: 1.5rem;
  height: 84rem;

  @include respond(laptop) {
    height: 54rem;
    margin-top: -4.9rem;
    max-width: 30.8rem;
  }
}

.tab {
  font: normal normal 2.5rem/5.8rem Segoe UI;
  color: var(--color-white);
}

.tab label {
  padding: 1rem;
  position: relative;
  width: 9.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;

  @include respond(laptop) {
    font-size: 0.75rem;
    width: 6.2rem;
  }
}

.tab [type="radio"] {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 6.5rem; // 55px;
  left: 0;
  background-color: var(--color-primary);
  right: 0;
  bottom: 0;
  padding: 2rem;
  border-radius: 5px;
}

[type="radio"]:checked ~ label {
  background-color: var(--color-primary);
  z-index: 2;
  border-radius: 5px;
}

[type="radio"]:checked ~ label ~ .content {
  z-index: 1;
}

input {
  align-self: center;
  width: 29.1rem;
  height: 4.4rem;
  background-color: var(--color-secondary);
  border-radius: 5px;
  border: none;
  text-align: left;
  font-size: 1.8rem;
  padding-left: 1rem;

  @include respond(laptop) {
    font-size: 1rem;
    width: 16.1rem;
  }
}

::placeholder {
  color: var(--color-grey-light-3);
}

///////////////////////////////////// panel

summary {
  background-color: var(--color-secondary);
  position: relative;
  padding-left: 2rem;
  list-style-image: url("./../../../assets/svg/chevron-small-up.svg");

  @include respond(laptop) {
    padding-left: 1rem;
  }
}

summary::-webkit-details-marker {
  color: var(--color-white);
  font-size: 145%;
  margin-left: 2rem;
  position: absolute;
  left: 25rem;
  top: 2rem;
  background: url("./../../../assets/svg/chevron-small-up.svg");
  color: transparent;

  @include respond(laptop) {
    margin-left: 1.9rem;
    left: 15rem;
    font-size: 195%;
  }
}

summary:focus::-webkit-details-marker {
  background: url("./../../../assets/svg/chevron-small-down.svg");
}

summary:focus {
  outline-style: none;
}

article > details > summary {
  font-size: 2.3rem;
  margin-top: 2.2rem;

  @include respond(laptop) {
    font-size: 1.3rem;
  }
}

details summary {
  display: flex;
}

details details summary {
  font-size: 1.6rem;
  height: 7.5rem;

  @include respond(laptop) {
    font-size: 1.1rem;
  }
}

span {
  position: absolute;
  top: 2rem;
  padding-left: 3rem;
}

.icon {
  width: 2rem;
  height: 2.7rem;
  align-self: center;
  padding-right: 1rem;
}

.qp {
  background-color: var(--color-primary);
}
