<div>
  <div class="comment-conteinar border-red">
    <div class="comment-header">
      הקבלן חבצע נחקוי קירות, רצפות ותקרות של כל השוחות שיש לשקם באישור של המפקח
    </div>
    <div class="comment">
      <div class="comment-sub-header">
        הערות של המפקח
      </div>
      <div class="comment-content">
        הקבלן חבצע נחקוי קירות, רצפות ותקרות של כל השוחות שיש לשקם באישור של המפקח
      </div>
    </div>
  </div>

  <div class="comment-conteinar border-green">
    <div class="comment-header">
      הקבלן חבצע נחקוי קירות, רצפות ותקרות של כל השוחות שיש לשקם באישור של המפקח
    </div>
    <div class="comment pictuers">
      <div class="comment-sub-header">
        הערות של המפקח
      </div>
      <div class="comment-content">
        הקבלן חבצע נחקוי קירות, רצפות ותקרות של כל השוחות שיש לשקם באישור של המפקח
      </div>
      <div class="pictures-container">
        <img class="img" src="../../../assets/img/Image.png" alt="img">
        <img class="img" src="../../../assets/img/Image.png" alt="img">
        <img class="img3" src="../../../assets/img/Image.png" alt="img">
      </div>
    </div>
  </div>

  <div class="comment-conteinar border-gray">
    <div class="comment-header">
      הקבלן חבצע נחקוי קירות, רצפות ותקרות של כל השוחות שיש לשקם באישור של המפקח
    </div>
    <div class="comment">
      <div class="comment-sub-header">
        הערות של המפקח
      </div>
      <div class="comment-content">
        הקבלן חבצע נחקוי קירות, רצפות ותקרות של כל השוחות שיש לשקם באישור של המפקח
      </div>
    </div>
  </div>

  <div class="comment-conteinar border-gray2">
    <div class="comment-header">
      הקבלן חבצע נחקוי קירות, רצפות ותקרות של כל השוחות שיש לשקם באישור של המפקח
    </div>
    <div class="comment pictuers">
      <div class="comment-sub-header">
        הערות של המפקח
      </div>
      <div class="comment-content">
        הקבלן חבצע נחקוי קירות, רצפות ותקרות של כל השוחות שיש לשקם באישור של המפקח
      </div>
      <div class="pictures-container">
        <img class="img" src="../../../assets/img/Image.png" alt="img">
      </div>
    </div>
  </div>
</div>