@import "../../styles/abstracts/mixins";

.comment-conteinar {
  height: 20.5rem;
  background: var(--color-grey-dark-1) 0% 0% no-repeat padding-box;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 5px;
}

.border-red {
  border-right: 9px solid var(--color-red);
}

.border-green {
  border-right: 9px solid var(--color-green);
  height: 41rem;
  margin-bottom: 3rem;

  @include respond(laptop) {
    height: fit-content;
  }
}

.border-gray,
.border-gray2 {
  border-right: 9px solid var(--color-grey-light-2);
}

.border-gray2 {
  height: 32.3rem;
}

.comment-header {
  height: 5.1rem;
  color: var(--color-white);
  margin-top: 2.5rem;
  text-align: right;
  font: normal normal normal 1.2rem/2.4rem Segoe UI;
  padding-top: 1rem;
  margin-right: 2rem;

  @include respond(laptop) {
    font-size: 1rem;
  }
}

.comment {
  height: 8.7rem;
  background-color: var(--color-black);
  color: var(--color-white);
  font: normal normal normal 1.2rem/2.4rem Segoe UI;
  text-align: right;
  padding: 1rem;
  align-self: flex-end;
  margin: 1.5rem;
  border-radius: 5px;

  @include respond(laptop) {
    font-size: 1rem;
  }
}

.pictuers {
  height: fit-content;
}

.comment-content {
  margin-top: 1rem;

  @include respond(laptop) {
    margin-top: 0;
  }
}

.pictures-container {
  width: 26.2rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 3rem;

  @include respond(laptop) {
    margin-top: 1rem;
    width: 10rem;
  }
}

.img,
.img3 {
  margin-left: 1rem;
}

.img3 {
  margin-top: 1rem;
}
