.continer {
  display: flex;
  margin: 0 auto;
  background: var(--color-grey-dark-1) 0% 0% no-repeat padding-box;
  width: 643px;
  height: 520px;
  flex-direction: column;
  border-radius: 5px;
}

.continer-list {
  height: 311px;
  width: 643px;
  margin-top: 3rem;
}

.continer-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background-color: var(--color-secondary);
  }
}

.list:not(:last-child) {
  border-bottom: 1px solid var(--color-secondary);
}

.first-span {
  width: 14.8rem;
  text-align: right;
  font: normal normal normal 18px/57px Segoe UI;
  letter-spacing: 1.4px;
  color: var(--color-white);
  text-transform: capitalize;
}

.second-span {
  width: 37.7rem;
  text-align: right;
  font: normal normal normal 18px/58px Segoe UI;
  letter-spacing: 1.8px;
  color: var(--color-white);
  text-transform: capitalize;
}

.logo-icon {
  width: 3rem;
  height: 5.7rem;
}

.small-red-flame {
  height: 2.7rem;
  margin-top: 1rem;
}

.logo-box {
  height: 63px;
  width: 8.3rem; // 83px;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

//////////////////////////////////

.input-logo {
  display: flex;
  justify-content: space-between;
  width: 629px;
  flex-direction: row-reverse;
  margin-top: 3rem;
  height: 102px;
}

input {
  align-self: center;
  width: 291px;
  height: 44px;
  background-color: var(--color-secondary);
  border-radius: 5px;
  border: none;
  margin-left: 2rem;
  text-align: right;
  font-size: 18px;
  padding-right: 1rem;
}

::placeholder {
  color: #c1cee0;
}

.red-flame {
  width: 69px;
  height: 69px;
}

.numberCircle {
  border-radius: 50%;
  width: 33px;
  height: 32px;
  padding: 5px;
  background-color: var(--color-white);
  color: var(--color-black);
  text-align: center;
  font: bold 18px Segoe UI, sans-serif;
  margin: -5rem;
  margin-left: 5rem;
  position: absolute;
}

///////////////////////////////////

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-grey-light-2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

.on {
  display: none;
}

.on,
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 18px;
  font-family: Segoe UI, sans-serif;
}

input:checked + .slider .on {
  display: block;
  left: 36%;
}

input:checked + .slider .off {
  display: none;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
