<div class="continer">
  <div class="input-logo">
    <div class="logo-box">
      <svg class="logo-icon red-flame">
        <use xlink:href="../../assets/sprite.svg#icon-red-flame"></use>
      </svg>
      <div class="numberCircle">5</div>
    </div>
    <form class="form">
      <input type="text" placeholder="חפש">
      <label for="togBtn" class="switch">
        <input type="checkbox" id="togBtn" (click)="showIssues()">
        <div class="slider round">
          <span class="on">Open</span>
          <span class="off">All</span>
        </div>
      </label>

    </form>
  </div>
  <div class="continer-list">
    <div class="list" id="issue1" (click)="openPopup()">
      <svg class="logo-icon">
        <use xlink:href="../../assets/sprite.svg#icon-statusAsset-98"></use>
      </svg>
      <span class="first-span">1011</span>
      <span class="second-span">תכנון: חוסר בסעיפים בכתב הכמויות </span>
    </div>
    <div class="list" id="issue2" (click)="openPopup()">
      <svg class="logo-icon">
        <use xlink:href="../../assets/sprite.svg#icon-statusAsset-98"></use>
      </svg>
      <span class="first-span">1020</span>
      <span class="second-span">משמעת: קללות </span>
    </div>
    <div class="list" id="issue3" (click)="openPopup()">
      <svg class="logo-icon">
        <use xlink:href="../../assets/sprite.svg#icon-statusAsset-98"></use>
      </svg>
      <span class="first-span">1055</span>
      <span class="second-span">איכות ביצוע: אביזרים</span>
    </div>
    <div class="list" id="issue4" (click)="openPopup()">
      <svg class="logo-icon">
        <use xlink:href="../../assets/sprite.svg#icon-statusAsset-98"></use>
      </svg>
      <span class="first-span">1060</span>
      <span class="second-span">איכות ביצוע: הנחת צנרת</span>
    </div>

    <div class="list" (click)="openPopup()">
      <svg class="logo-icon small-red-flame">
        <use xlink:href="../../assets/sprite.svg#icon-small-red-flame"></use>
      </svg>
      <span class="first-span">2070</span>
      <span class="second-span">תלונות: פניות הציבור</span>
    </div>
    <div class="list" (click)="openPopup()">
      <svg class="logo-icon">
      </svg>
      <span class="first-span">2070</span>
      <span class="second-span">תלונות: פניות הציבור</span>
    </div>
  </div>
</div>


<app-popyp-issue #popup></app-popyp-issue>