<details>
  <summary class="qp">
    <svg class="icon">
      <use xlink:href="../../assets/sprite.svg#icon-Asset-4"></use>
      <text x="50%" y="50%" text-anchor="middle" stroke="white" font-size="1rem" dy=".3em">12</text>
    </svg>
    Trenching
  </summary>
  <app-comments></app-comments>
</details>

<details>
  <summary class="qp">
    <svg class="icon">
      <use xlink:href="../../assets/sprite.svg#icon-Asset-5"></use>
      <text x="50%" y="50%" text-anchor="middle" stroke="white" font-size="1rem" dy=".3em">12</text>
    </svg>
    Carpeting
  </summary>
</details>

<details>
  <summary class="qp qp-svg-container">
    <svg class="icon qp-svg">
      <use xlink:href="../../assets/sprite.svg#icon-Asset-6"></use>
      <text x="50%" y="50%" text-anchor="middle" stroke="white" font-size="1rem" dy=".3em">12</text>
    </svg>
    <svg class="logo-icon small-red-flame">
      <use xlink:href="../../assets/sprite.svg#icon-small-red-flame"></use>
    </svg>Lay Pipe
  </summary>
</details>

<details>
  <summary class="qp">
    <svg class="icon">
      <use xlink:href="../../assets/sprite.svg#icon-Asset-7"></use>
      <text x="50%" y="50%" text-anchor="middle" stroke="white" font-size="1rem" dy=".3em">12</text>
    </svg>
    Weld
  </summary>
</details>

<details>
  <summary class="qp">
    <svg class="icon">
      <use xlink:href="../../assets/sprite.svg#icon-Asset-3"></use>
      <text x="50%" y="50%" text-anchor="middle" stroke="white" font-size="1rem" dy=".3em">12</text>
    </svg>
    Cover
  </summary>
</details>