.mat-tab-label {
  padding: 5px;
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 25px;
}

.mat-tab-label.mat-tab-label-active {
  padding: 5px;
  background-color: #29333f;
  color: white;
  font-weight: 700;
  font-size: 25px;
  border-radius: 10px;
}

.mat-tab-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: transparent;
  color: white;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: transparent;
  // height: 10px;
}
